@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for the password div, this animation will make password div slide down  */
@keyframes slide-down {
  from {
    transform: scaleY(0);
    transform-origin: top left;
  }
  to {
    transform: scaleY(1);
  }
}

.slide-down {
  animation: slide-down 220ms ease-out;
}

@keyframes slide-up {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.passwordContainer {
  transform-origin: top;
}
.slide-up {
  animation: slide-up 200ms forwards;
}
